.sidebar {
  background-color: #eff2f4;
}

.mat-tab {
  min-width: 25px !important;
}

.mat-tab-label[_ngcontent-c9] {
  min-width: 25px !important;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}